* {
  font-family: Kanit, sans-serif;
  -webkit-font-smoothing: antialiased;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.pagination {
  margin: 20px 0 0;
  text-align: center;
}

.clearfix:after {
  content: '';
  display: block;
  visibility: hidden;
  clear: both;
}

.title {
  font-size: 24px;
  padding: 12px 0 12px 6px;
  font-family: Kanit, sans-serif;
}

.container {
  width: 72%;
  margin: auto;
  padding: 20px 0 0 0;
  text-align: left;
}

.link{
  cursor: pointer;
}