* {
  font-family: Kanit, sans-serif;
  -webkit-font-smoothing: antialiased;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.pagination {
  margin: 20px 0 0;
  text-align: center;
}

.clearfix:after {
  content: '';
  display: block;
  visibility: hidden;
  clear: both;
}
